---
title: This is my website
---

<h1 class="font-display uppercase">Welcome to my website</h1>

<p class="font-content">This is my first page using Lume, a static site generator for Deno.</p>

<p class="font-detail">I hope you enjoy it.</p>

<img src="{{"brand-x" |> icon("tabler", "outline") }}">
