{{ if resource_url }} we're in url is {{ resource_url }} content is
{{ children }}
<a href="{{ resource_url }}">{{ children }}</a>
{{ else }}
we're not in content is {{ children }}
{{ children }}
{{ /if }}
