<div class="inline-flex items-center justify-center text-center w-full">
  <hr class="w-96 h-px my-8 border-0 rounded bg-red-700" />
  <span
    class="absolute px-3 font-detail text-sm uppercase -translate-x-1/2 bg-white left-1/2 text-red-700"
  >
    {{ name }}
  </span>
</div>
